<a href="https://colab.research.google.com/github/kenpurin/pyspark/blob/main/test_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import time

In [8]:
start_time=time.time()
!pip install pyspark
print("--- %s seconds ---" %(time.time()-start_time))

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)
--- 4.549505710601807 seconds ---

In [9]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [10]:
start_time=time.time()
from pyspark.sql import SparkSession
# ในกรณีที่ไม่มี spark context อยู่ก่อนแล้ว เราก็สร้างใหม่
if (sc is None):
    sc = SparkContext(master="local[*]")

spark = SparkSession(sparkContext=sc)\
        .builder\
        .appName("How to Spark")\
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()

print("--- %s seconds ---" %(time.time()-start_time))

--- 1.5707650184631348 seconds ---

In [11]:
sc

In [12]:
sc.version

'3.3.0'

In [13]:
#get data test
!git clone https://github.com/codeforamerica/ohana-api.git

Cloning into 'ohana-api'...
remote: Enumerating objects: 14334, done.
remote: Counting objects: 100% (903/903), done.
remote: Compressing objects: 100% (431/431), done.
remote: Total 14334 (delta 488), reused 804 (delta 455), pack-reused 13431
Receiving objects: 100% (14334/14334), 6.19 MiB | 12.04 MiB/s, done.
Resolving deltas: 100% (9575/9575), done.

In [14]:
#/content/ohana-api/data/sample-csv/taxonomy.csv
mtcars_rdd = sc.textFile('/content/ohana-api/data/sample-csv/taxonomy.csv')

In [15]:
start_time=time.time()
df = spark.read.csv('/content/ohana-api/data/sample-csv/taxonomy.csv', header=True, inferSchema=True)
print("--- %s seconds ---" %(time.time()-start_time))

--- 6.870236873626709 seconds ---

In [16]:
df.dtypes

[('taxonomy_id', 'string'),
 ('name', 'string'),
 ('parent_id', 'string'),
 ('parent_name', 'string')]

In [17]:
df.show()

+-----------+--------------------+---------+----------------+
|taxonomy_id|                name|parent_id|     parent_name|
+-----------+--------------------+---------+----------------+
|        101|           Emergency|     null|            null|
|     101-01|   Disaster Response|      101|       Emergency|
|     101-02|      Emergency Cash|      101|       Emergency|
|  101-02-01|   Help Pay for Food|   101-02|  Emergency Cash|
|  101-02-02|Help Pay for Heal...|   101-02|  Emergency Cash|
|  101-02-03|Help Pay for Housing|   101-02|  Emergency Cash|
|  101-02-04|    Help Pay for Gas|   101-02|  Emergency Cash|
|  101-02-05| Help Pay for School|   101-02|  Emergency Cash|
|  101-02-06|Help Pay for Util...|   101-02|  Emergency Cash|
|     101-03|      Emergency Food|      101|       Emergency|
|     101-04|   Emergency Shelter|      101|       Emergency|
|     101-05|Help Find Missing...|      101|       Emergency|
|     101-06|    Immediate Safety|      101|       Emergency|
|  101-06-01|Help Escape Violence|   101-06|Immediate Safety|
|  101-06-02|        Safe Housing|   101-06|Immediate Safety|
|     101-07|Psychiatric Emerg...|      101|       Emergency|
|        102|                Food|     null|            null|
|     102-01|   Community Gardens|      102|            Food|
|     102-02|      Emergency Food|      102|            Food|
|     102-03|       Food Delivery|      102|            Food|
+-----------+--------------------+---------+----------------+
only showing top 20 rows

In [18]:
df.head(10)

[Row(taxonomy_id='101', name='Emergency', parent_id=None, parent_name=None),
 Row(taxonomy_id='101-01', name='Disaster Response', parent_id='101', parent_name='Emergency'),
 Row(taxonomy_id='101-02', name='Emergency Cash', parent_id='101', parent_name='Emergency'),
 Row(taxonomy_id='101-02-01', name='Help Pay for Food', parent_id='101-02', parent_name='Emergency Cash'),
 Row(taxonomy_id='101-02-02', name='Help Pay for Healthcare', parent_id='101-02', parent_name='Emergency Cash'),
 Row(taxonomy_id='101-02-03', name='Help Pay for Housing', parent_id='101-02', parent_name='Emergency Cash'),
 Row(taxonomy_id='101-02-04', name='Help Pay for Gas', parent_id='101-02', parent_name='Emergency Cash'),
 Row(taxonomy_id='101-02-05', name='Help Pay for School', parent_id='101-02', parent_name='Emergency Cash'),
 Row(taxonomy_id='101-02-06', name='Help Pay for Utilities', parent_id='101-02', parent_name='Emergency Cash'),
 Row(taxonomy_id='101-03', name='Emergency Food', parent_id='101', parent_name='Emergency')]

In [19]:
df.first()

Row(taxonomy_id='101', name='Emergency', parent_id=None, parent_name=None)

In [20]:
df.take(2)

[Row(taxonomy_id='101', name='Emergency', parent_id=None, parent_name=None),
 Row(taxonomy_id='101-01', name='Disaster Response', parent_id='101', parent_name='Emergency')]

In [21]:
df.printSchema()

root
 |-- taxonomy_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- parent_id: string (nullable = true)
 |-- parent_name: string (nullable = true)

In [22]:
df.describe().show()

+-------+---------------+----------------+------------------+--------------------+
|summary|    taxonomy_id|            name|         parent_id|         parent_name|
+-------+---------------+----------------+------------------+--------------------+
|  count|            290|             290|               279|                 279|
|   mean|          106.0|            null|105.86666666666666|                null|
| stddev|3.3166247903554|            null| 3.306217392478572|                null|
|    min|            101|         12-Step|               101|Addiction & Recovery|
|    max|         111-05|Workplace Rights|         111-01-01|                Work|
+-------+---------------+----------------+------------------+--------------------+

In [23]:
df.describe(['taxonomy_id']).show()

+-------+---------------+
|summary|    taxonomy_id|
+-------+---------------+
|  count|            290|
|   mean|          106.0|
| stddev|3.3166247903554|
|    min|            101|
|    max|         111-05|
+-------+---------------+

In [24]:
df.columns

['taxonomy_id', 'name', 'parent_id', 'parent_name']

In [25]:
df.count()

290

In [26]:
spark.stop()

#FMP

In [28]:
#!/usr/bin/env python

try:
    # For Python 3.0 and later
    from urllib.request import urlopen
except ImportError:
    # Fall back to Python 2's urllib2
    from urllib2 import urlopen

import certifi
import json

def get_jsonparsed_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url, cafile=certifi.where())
    data = response.read().decode("utf-8")
    return json.loads(data)

url_hd = ("https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL?apikey=8ffff08324836e69d3593a5c14dfc86d")
print(get_jsonparsed_data(url_hd))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.

{'symbol': 'AAPL', 'historical': [{'date': '2022-08-05', 'label': 'August 05, 22', 'adjDividend': 0.23, 'dividend': 0.23, 'recordDate': '2022-08-08', 'paymentDate': '2022-08-11', 'declarationDate': '2022-07-28'}, {'date': '2022-05-06', 'label': 'May 06, 22', 'adjDividend': 0.23, 'dividend': 0.23, 'recordDate': '2022-05-09', 'paymentDate': '2022-05-12', 'declarationDate': '2022-04-28'}, {'date': '2022-02-04', 'label': 'February 04, 22', 'adjDividend': 0.22, 'dividend': 0.22, 'recordDate': '2022-02-07', 'paymentDate': '2022-02-10', 'declarationDate': '2022-01-27'}, {'date': '2021-11-05', 'label': 'November 05, 21', 'adjDividend': 0.22, 'dividend': 0.22, 'recordDate': '2021-11-08', 'paymentDate': '2021-11-11', 'declarationDate': '2021-10-28'}, {'date': '2021-08-06', 'label': 'August 06, 21', 'adjDividend': 0.22, 'dividend': 0.22, 'recordDate': '2021-08-09', 'paymentDate': '2021-08-12', 'declarationDate': '2021-07-27'}, {'date': '2021-05-07', 'label': 'May 07, 21', 'adjDividend': 0.22, 'dividend': 0.22, 'recordDate': '2021-05-10', 'paymentDate': '2021-05-13', 'declarationDate': '2021-04-28'}, {'date': '2021-02-05', 'label': 'February 05, 21', 'adjDividend': 0.205, 'dividend': 0.205, 'recordDate': '2021-02-08', 'paymentDate': '2021-02-11', 'declarationDate': '2021-01-27'}, {'date': '2020-11-06', 'label': 'November 06, 20', 'adjDividend': 0.205, 'dividend': 0.205, 'recordDate': '2020-11-09', 'paymentDate': '2020-11-12', 'declarationDate': '2020-10-29'}, {'date': '2020-08-07', 'label': 'August 07, 20', 'adjDividend': 0.205, 'dividend': 0.82, 'recordDate': '2020-08-10', 'paymentDate': '2020-08-13', 'declarationDate': '2020-07-30'}, {'date': '2020-05-08', 'label': 'May 08, 20', 'adjDividend': 0.205, 'dividend': 0.82, 'recordDate': '2020-05-11', 'paymentDate': '2020-05-14', 'declarationDate': '2020-04-30'}, {'date': '2020-02-07', 'label': 'February 07, 20', 'adjDividend': 0.1925, 'dividend': 0.77, 'recordDate': '2020-02-10', 'paymentDate': '2020-02-13', 'declarationDate': '2020-01-28'}, {'date': '2019-11-07', 'label': 'November 07, 19', 'adjDividend': 0.1925, 'dividend': 0.77, 'recordDate': '2019-11-11', 'paymentDate': '2019-11-14', 'declarationDate': '2019-10-30'}, {'date': '2019-08-09', 'label': 'August 09, 19', 'adjDividend': 0.1925, 'dividend': 0.77, 'recordDate': '2019-08-12', 'paymentDate': '2019-08-15', 'declarationDate': '2019-07-30'}, {'date': '2019-05-10', 'label': 'May 10, 19', 'adjDividend': 0.1925, 'dividend': 0.77, 'recordDate': '2019-05-13', 'paymentDate': '2019-05-16', 'declarationDate': '2019-05-01'}, {'date': '2019-02-08', 'label': 'February 08, 19', 'adjDividend': 0.1825, 'dividend': 0.73, 'recordDate': '2019-02-11', 'paymentDate': '2019-02-14', 'declarationDate': '2019-01-29'}, {'date': '2018-11-08', 'label': 'November 08, 18', 'adjDividend': 0.1825, 'dividend': 0.73, 'recordDate': '2018-11-12', 'paymentDate': '2018-11-15', 'declarationDate': '2018-11-01'}, {'date': '2018-08-10', 'label': 'August 10, 18', 'adjDividend': 0.1825, 'dividend': 0.73, 'recordDate': '2018-08-13', 'paymentDate': '2018-08-16', 'declarationDate': '2018-07-31'}, {'date': '2018-05-11', 'label': 'May 11, 18', 'adjDividend': 0.1825, 'dividend': 0.73, 'recordDate': '2018-05-14', 'paymentDate': '2018-05-17', 'declarationDate': '2018-05-01'}, {'date': '2018-02-09', 'label': 'February 09, 18', 'adjDividend': 0.1575, 'dividend': 0.63, 'recordDate': '2018-02-12', 'paymentDate': '2018-02-15', 'declarationDate': '2018-02-01'}, {'date': '2017-11-10', 'label': 'November 10, 17', 'adjDividend': 0.1575, 'dividend': 0.63, 'recordDate': '2017-11-13', 'paymentDate': '2017-11-16', 'declarationDate': '2017-11-02'}, {'date': '2017-08-10', 'label': 'August 10, 17', 'adjDividend': 0.1575, 'dividend': 0.63, 'recordDate': '2017-08-14', 'paymentDate': '2017-08-17', 'declarationDate': '2017-08-01'}, {'date': '2017-05-11', 'label': 'May 11, 17', 'adjDividend': 0.1575, 'dividend': 0.63, 'recordDate': '2017-05-15', 'paymentDate': '2017-05-18', 'declarationDate': '2017-05-02'}, {'date': '2017-02-09', 'label': 'February 09, 17', 'adjDividend': 0.1425, 'dividend': 0.57, 'recordDate': '2017-02-13', 'paymentDate': '2017-02-16', 'declarationDate': '2017-02-01'}, {'date': '2016-11-03', 'label': 'November 03, 16', 'adjDividend': 0.1425, 'dividend': 0.57, 'recordDate': '2016-11-07', 'paymentDate': '2016-11-10', 'declarationDate': '2016-10-25'}, {'date': '2016-08-04', 'label': 'August 04, 16', 'adjDividend': 0.1425, 'dividend': 0.57, 'recordDate': '2016-08-08', 'paymentDate': '2016-08-11', 'declarationDate': '2016-07-26'}, {'date': '2016-05-05', 'label': 'May 05, 16', 'adjDividend': 0.1425, 'dividend': 0.57, 'recordDate': '2016-05-09', 'paymentDate': '2016-05-12', 'declarationDate': '2016-04-26'}, {'date': '2016-02-04', 'label': 'February 04, 16', 'adjDividend': 0.13, 'dividend': 0.52, 'recordDate': '2016-02-08', 'paymentDate': '2016-02-11', 'declarationDate': '2016-01-26'}, {'date': '2015-11-05', 'label': 'November 05, 15', 'adjDividend': 0.13, 'dividend': 0.52, 'recordDate': '2015-11-09', 'paymentDate': '2015-11-12', 'declarationDate': '2015-10-27'}, {'date': '2015-08-06', 'label': 'August 06, 15', 'adjDividend': 0.13, 'dividend': 0.52, 'recordDate': '2015-08-10', 'paymentDate': '2015-08-13', 'declarationDate': '2015-07-21'}, {'date': '2015-05-07', 'label': 'May 07, 15', 'adjDividend': 0.13, 'dividend': 0.52, 'recordDate': '2015-05-11', 'paymentDate': '2015-05-14', 'declarationDate': '2015-04-27'}, {'date': '2015-02-05', 'label': 'February 05, 15', 'adjDividend': 0.1175, 'dividend': 0.47, 'recordDate': '2015-02-09', 'paymentDate': '2015-02-12', 'declarationDate': '2015-01-27'}, {'date': '2014-11-06', 'label': 'November 06, 14', 'adjDividend': 0.1175, 'dividend': 0.47, 'recordDate': '2014-11-10', 'paymentDate': '2014-11-13', 'declarationDate': '2014-10-20'}, {'date': '2014-08-07', 'label': 'August 07, 14', 'adjDividend': 0.1175, 'dividend': 0.47, 'recordDate': '2014-08-11', 'paymentDate': '2014-08-14', 'declarationDate': '2014-07-22'}, {'date': '2014-05-08', 'label': 'May 08, 14', 'adjDividend': 0.1175, 'dividend': 3.29, 'recordDate': '2014-05-12', 'paymentDate': '2014-05-15', 'declarationDate': '2014-04-23'}, {'date': '2014-02-06', 'label': 'February 06, 14', 'adjDividend': 0.108929, 'dividend': 3.05, 'recordDate': '2014-02-10', 'paymentDate': '2014-02-13', 'declarationDate': '2014-01-27'}, {'date': '2013-11-06', 'label': 'November 06, 13', 'adjDividend': 0.108929, 'dividend': 3.05, 'recordDate': '2013-11-11', 'paymentDate': '2013-11-14', 'declarationDate': '2013-10-28'}, {'date': '2013-08-08', 'label': 'August 08, 13', 'adjDividend': 0.108929, 'dividend': 3.05, 'recordDate': '2013-08-12', 'paymentDate': '2013-08-15', 'declarationDate': '2013-07-23'}, {'date': '2013-05-09', 'label': 'May 09, 13', 'adjDividend': 0.108929, 'dividend': 3.05, 'recordDate': '2013-05-13', 'paymentDate': '2013-05-16', 'declarationDate': '2013-04-23'}, {'date': '2013-02-07', 'label': 'February 07, 13', 'adjDividend': 0.094643, 'dividend': 2.65, 'recordDate': '2013-02-11', 'paymentDate': '2013-02-14', 'declarationDate': '2013-01-23'}, {'date': '2012-11-07', 'label': 'November 07, 12', 'adjDividend': 0.094643, 'dividend': 2.65, 'recordDate': '2012-11-12', 'paymentDate': '2012-11-15', 'declarationDate': '2012-10-25'}, {'date': '2012-08-09', 'label': 'August 09, 12', 'adjDividend': 0.094643, 'dividend': 2.65, 'recordDate': '2012-08-13', 'paymentDate': '2012-08-16', 'declarationDate': '2012-03-19'}, {'date': '1995-11-21', 'label': 'November 21, 95', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1995-11-20', 'label': 'November 20, 95', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1995-11-24', 'paymentDate': '1995-12-15', 'declarationDate': '1995-10-09'}, {'date': '1995-08-16', 'label': 'August 16, 95', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1995-08-18', 'paymentDate': '1995-09-08', 'declarationDate': '1995-07-20'}, {'date': '1995-05-29', 'label': 'May 29, 95', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1995-06-02', 'paymentDate': '1995-06-23', 'declarationDate': '1995-05-02'}, {'date': '1995-05-26', 'label': 'May 26, 95', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1995-02-14', 'label': 'February 14, 95', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1995-02-17', 'paymentDate': '1995-03-10', 'declarationDate': ''}, {'date': '1995-02-13', 'label': 'February 13, 95', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1994-11-21', 'label': 'November 21, 94', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1994-11-25', 'paymentDate': '1994-12-16', 'declarationDate': ''}, {'date': '1994-11-18', 'label': 'November 18, 94', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1994-08-16', 'label': 'August 16, 94', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1994-08-19', 'paymentDate': '1994-09-09', 'declarationDate': ''}, {'date': '1994-08-15', 'label': 'August 15, 94', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1994-05-30', 'label': 'May 30, 94', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1994-06-03', 'paymentDate': '1994-06-24', 'declarationDate': ''}, {'date': '1994-05-27', 'label': 'May 27, 94', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1994-02-08', 'label': 'February 08, 94', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1994-02-11', 'paymentDate': '1994-03-04', 'declarationDate': '1994-02-02'}, {'date': '1994-02-07', 'label': 'February 07, 94', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1993-11-22', 'label': 'November 22, 93', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1993-11-26', 'paymentDate': '1993-12-17', 'declarationDate': ''}, {'date': '1993-11-19', 'label': 'November 19, 93', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1993-08-17', 'label': 'August 17, 93', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1993-08-20', 'paymentDate': '1993-09-10', 'declarationDate': ''}, {'date': '1993-08-16', 'label': 'August 16, 93', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1993-06-01', 'label': 'June 01, 93', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1993-06-04', 'paymentDate': '1993-06-25', 'declarationDate': ''}, {'date': '1993-05-28', 'label': 'May 28, 93', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1993-02-16', 'label': 'February 16, 93', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1993-02-19', 'paymentDate': '1993-03-12', 'declarationDate': ''}, {'date': '1993-02-12', 'label': 'February 12, 93', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1992-11-30', 'label': 'November 30, 92', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1992-12-04', 'paymentDate': '1992-12-18', 'declarationDate': '1992-11-23'}, {'date': '1992-08-17', 'label': 'August 17, 92', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1992-08-21', 'paymentDate': '1992-09-11', 'declarationDate': ''}, {'date': '1992-06-01', 'label': 'June 01, 92', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1992-02-14', 'label': 'February 14, 92', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1992-02-21', 'paymentDate': '1992-03-13', 'declarationDate': ''}, {'date': '1991-11-18', 'label': 'November 18, 91', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1991-11-22', 'paymentDate': '1991-12-13', 'declarationDate': ''}, {'date': '1991-08-19', 'label': 'August 19, 91', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1991-08-23', 'paymentDate': '1991-09-13', 'declarationDate': ''}, {'date': '1991-05-20', 'label': 'May 20, 91', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '1991-05-24', 'paymentDate': '1991-06-14', 'declarationDate': ''}, {'date': '1991-02-19', 'label': 'February 19, 91', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1991-02-22', 'paymentDate': '1991-03-15', 'declarationDate': ''}, {'date': '1991-02-15', 'label': 'February 15, 91', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1990-11-19', 'label': 'November 19, 90', 'adjDividend': 0.0010714275, 'dividend': 0.12, 'recordDate': '1990-11-23', 'paymentDate': '1990-12-14', 'declarationDate': '1990-11-08'}, {'date': '1990-11-16', 'label': 'November 16, 90', 'adjDividend': 0.001071, 'dividend': 0.12, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1990-08-21', 'label': 'August 21, 90', 'adjDividend': 0.0009821419, 'dividend': 0.11, 'recordDate': '1990-08-24', 'paymentDate': '1990-09-14', 'declarationDate': '1990-07-23'}, {'date': '1990-08-20', 'label': 'August 20, 90', 'adjDividend': 0.000982, 'dividend': 0.11, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1990-05-22', 'label': 'May 22, 90', 'adjDividend': 0.0009821419, 'dividend': 0.11, 'recordDate': '1990-05-25', 'paymentDate': '1990-06-15', 'declarationDate': '1990-04-09'}, {'date': '1990-05-21', 'label': 'May 21, 90', 'adjDividend': 0.000982, 'dividend': 0.11, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1990-02-19', 'label': 'February 19, 90', 'adjDividend': 0.0009821419, 'dividend': 0.11, 'recordDate': '1990-02-23', 'paymentDate': '1990-03-15', 'declarationDate': '1990-02-02'}, {'date': '1990-02-16', 'label': 'February 16, 90', 'adjDividend': 0.000982, 'dividend': 0.11, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1989-11-17', 'label': 'November 17, 89', 'adjDividend': 0.000982, 'dividend': 0.1, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1989-08-21', 'label': 'August 21, 89', 'adjDividend': 0.000893, 'dividend': 0.1, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1989-05-22', 'label': 'May 22, 89', 'adjDividend': 0.000893, 'dividend': 0.1, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1989-02-17', 'label': 'February 17, 89', 'adjDividend': 0.000893, 'dividend': 0.1, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1988-11-21', 'label': 'November 21, 88', 'adjDividend': 0.000893, 'dividend': 0.1, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1988-08-15', 'label': 'August 15, 88', 'adjDividend': 0.000714, 'dividend': 0.08, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1988-05-16', 'label': 'May 16, 88', 'adjDividend': 0.000714, 'dividend': 0.08, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1988-02-12', 'label': 'February 12, 88', 'adjDividend': 0.000714, 'dividend': 0.08, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1987-11-17', 'label': 'November 17, 87', 'adjDividend': 0.000714, 'dividend': 0.08, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1987-08-10', 'label': 'August 10, 87', 'adjDividend': 0.000536, 'dividend': 0.06, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}, {'date': '1987-05-11', 'label': 'May 11, 87', 'adjDividend': 0.000536, 'dividend': 0.06, 'recordDate': '', 'paymentDate': '', 'declarationDate': ''}]}

In [30]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [31]:
start_time=time.time()
from pyspark.sql import SparkSession
# ในกรณีที่ไม่มี spark context อยู่ก่อนแล้ว เราก็สร้างใหม่
if (sc is None):
    sc = SparkContext(master="local[*]")

spark = SparkSession(sparkContext=sc)\
        .builder\
        .appName("How to Spark")\
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()

print("--- %s seconds ---" %(time.time()-start_time))

--- 0.07771158218383789 seconds ---

In [33]:
import pandas as pd
#แปลงค่าที่รับมาจาก api ให้อยู่ในรูปแบบ dataframe
#keep value from api in data_hd
data_hd=get_jsonparsed_data(url_hd)

#ใช้ pd.json_normalize เพราะข้อมูลมีการซ้อนกันใน historical
df_hd= pd.json_normalize(data_hd, 'historical')
df_hd.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.

,date,label,adjDividend,dividend,recordDate,paymentDate,declarationDate
0,2022-08-05,"August 05, 22",0.230,0.230,2022-08-08,2022-08-11,2022-07-28
1,2022-05-06,"May 06, 22",0.230,0.230,2022-05-09,2022-05-12,2022-04-28
2,2022-02-04,"February 04, 22",0.220,0.220,2022-02-07,2022-02-10,2022-01-27
3,2021-11-05,"November 05, 21",0.220,0.220,2021-11-08,2021-11-11,2021-10-28
4,2021-08-06,"August 06, 21",0.220,0.220,2021-08-09,2021-08-12,2021-07-27
5,2021-05-07,"May 07, 21",0.220,0.220,2021-05-10,2021-05-13,2021-04-28
6,2021-02-05,"February 05, 21",0.205,0.205,2021-02-08,2021-02-11,2021-01-27
7,2020-11-06,"November 06, 20",0.205,0.205,2020-11-09,2020-11-12,2020-10-29
8,2020-08-07,"August 07, 20",0.205,0.820,2020-08-10,2020-08-13,2020-07-30
9,2020-05-08,"May 08, 20",0.205,0.820,2020-05-11,2020-05-14,2020-04-30

In [36]:
#คำสั่งใน spark
#https://sparkbyexamples.com/spark/different-ways-to-create-a-spark-dataframe/

df_spark  = spark.createDataFrame(df_hd)

In [38]:
df_spark.show()

+----------+---------------+-----------+--------+----------+-----------+---------------+
|      date|          label|adjDividend|dividend|recordDate|paymentDate|declarationDate|
+----------+---------------+-----------+--------+----------+-----------+---------------+
|2022-08-05|  August 05, 22|       0.23|    0.23|2022-08-08| 2022-08-11|     2022-07-28|
|2022-05-06|     May 06, 22|       0.23|    0.23|2022-05-09| 2022-05-12|     2022-04-28|
|2022-02-04|February 04, 22|       0.22|    0.22|2022-02-07| 2022-02-10|     2022-01-27|
|2021-11-05|November 05, 21|       0.22|    0.22|2021-11-08| 2021-11-11|     2021-10-28|
|2021-08-06|  August 06, 21|       0.22|    0.22|2021-08-09| 2021-08-12|     2021-07-27|
|2021-05-07|     May 07, 21|       0.22|    0.22|2021-05-10| 2021-05-13|     2021-04-28|
|2021-02-05|February 05, 21|      0.205|   0.205|2021-02-08| 2021-02-11|     2021-01-27|
|2020-11-06|November 06, 20|      0.205|   0.205|2020-11-09| 2020-11-12|     2020-10-29|
|2020-08-07|  August 07, 20|      0.205|    0.82|2020-08-10| 2020-08-13|     2020-07-30|
|2020-05-08|     May 08, 20|      0.205|    0.82|2020-05-11| 2020-05-14|     2020-04-30|
|2020-02-07|February 07, 20|     0.1925|    0.77|2020-02-10| 2020-02-13|     2020-01-28|
|2019-11-07|November 07, 19|     0.1925|    0.77|2019-11-11| 2019-11-14|     2019-10-30|
|2019-08-09|  August 09, 19|     0.1925|    0.77|2019-08-12| 2019-08-15|     2019-07-30|
|2019-05-10|     May 10, 19|     0.1925|    0.77|2019-05-13| 2019-05-16|     2019-05-01|
|2019-02-08|February 08, 19|     0.1825|    0.73|2019-02-11| 2019-02-14|     2019-01-29|
|2018-11-08|November 08, 18|     0.1825|    0.73|2018-11-12| 2018-11-15|     2018-11-01|
|2018-08-10|  August 10, 18|     0.1825|    0.73|2018-08-13| 2018-08-16|     2018-07-31|
|2018-05-11|     May 11, 18|     0.1825|    0.73|2018-05-14| 2018-05-17|     2018-05-01|
|2018-02-09|February 09, 18|     0.1575|    0.63|2018-02-12| 2018-02-15|     2018-02-01|
|2017-11-10|November 10, 17|     0.1575|    0.63|2017-11-13| 2017-11-16|     2017-11-02|
+----------+---------------+-----------+--------+----------+-----------+---------------+
only showing top 20 rows

In [44]:
df_spark.printSchema()

root
 |-- date: string (nullable = true)
 |-- label: string (nullable = true)
 |-- adjDividend: double (nullable = true)
 |-- dividend: double (nullable = true)
 |-- recordDate: string (nullable = true)
 |-- paymentDate: string (nullable = true)
 |-- declarationDate: string (nullable = true)

In [53]:
df_spark.count()

92

In [57]:
#อ้างมาจาก วิดีโอ bigdata อาจารย์ของมจธ
df_spark.limit(3).toPandas()

,date,label,adjDividend,dividend,recordDate,paymentDate,declarationDate
0,2022-08-05,"August 05, 22",0.23,0.23,2022-08-08,2022-08-11,2022-07-28
1,2022-05-06,"May 06, 22",0.23,0.23,2022-05-09,2022-05-12,2022-04-28
2,2022-02-04,"February 04, 22",0.22,0.22,2022-02-07,2022-02-10,2022-01-27

basic spark

In [46]:

columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [48]:

#spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [49]:

dfFromRDD1 = rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [52]:
#https://signalfix.net/th/pyspark-collect-%E0%B8%94%E0%B8%B6%E0%B8%87%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%88%E0%B8%B2%E0%B8%81-dataframe
#ระมัดระวังเรื่อง collect เพราะถ้าเกิดดึงกลับมาแล้วใหญ่เกินหน่วยความจำจะเป็นปัญหา
rdd.collect()

[('Java', '20000'), ('Python', '100000'), ('Scala', '3000')]